In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.loc[1, 'B'])

5

In [6]:
df[df.A>1]

   A  B
1  2  5
2  3  6

In [9]:
df.loc[df.A>1]

   A  B
1  2  5
2  3  6

In [11]:
df.query("A > 1")

   A  B
1  2  5
2  3  6

In [12]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'A': range(1, 6),
    'B': range(10, 0, -2),
    'C': range(10, 15)
})

# Using query to filter data
filtered_df = df.query('A > 2 & B < 8')
print(filtered_df)

   A  B   C
2  3  6  12
3  4  4  13
4  5  2  14

In [13]:
# Using eval to perform operations directly on DataFrame columns
result = df.eval('A + B - C')
print(result)

# Creating a new column using eval
df = df.eval('D = A + B', inplace=False)
print(df)

0    1
1   -1
2   -3
3   -5
4   -7
dtype: int64
   A   B   C   D
0  1  10  10  11
1  2   8  11  10
2  3   6  12   9
3  4   4  13   8
4  5   2  14   7