In [90]:
import googlemaps
import pandas as pd
from geopy.distance import geodesic

# Set up Google Maps API Key
gmaps = googlemaps.Client(key='AIzaSyCoO2HULPgeBZKvnxjtLWLn9mRdc7Kotb4')

# Assume 'population' is the DataFrame you have loaded, containing 'GeogName' and 'GeoID'
population = pd.read_excel('Dem_1822_NTA.xlsx', sheet_name='DemData')
population = population[['GeogName', 'GeoID', 'Pop_1E']]
# Create new columns to store geocoding information
population['Latitude'] = None
population['Longitude'] = None
population['Area_km2'] = None

# Use 'GeogName' to get latitude and longitude
for index, row in population.iterrows():
    geog_name = row['GeogName']
    
    try:
        # Use Google Maps Geocoding API to get location data
        geocode_result = gmaps.geocode(geog_name + ", New York City")
        
        if geocode_result:
            location = geocode_result[0]['geometry']['location']
            lat, lng = location['lat'], location['lng']
            
            # Store latitude and longitude information
            population.at[index, 'Latitude'] = lat
            population.at[index, 'Longitude'] = lng
            
            # Get area information (if available)
            if 'bounds' in geocode_result[0]['geometry']:
                northeast = geocode_result[0]['geometry']['bounds']['northeast']
                southwest = geocode_result[0]['geometry']['bounds']['southwest']
                
                # Calculate area using geodesic distance (estimate as a simple rectangular area in km²)
                ne_point = (northeast['lat'], northeast['lng'])
                sw_point = (southwest['lat'], southwest['lng'])
                
                lat_distance = geodesic((northeast['lat'], southwest['lng']), (southwest['lat'], southwest['lng'])).km
                lng_distance = geodesic((southwest['lat'], northeast['lng']), (southwest['lat'], southwest['lng'])).km
                
                area_km2 = lat_distance * lng_distance
                
                population.at[index, 'Area_km2'] = area_km2
        else:
            print(f"No geocode result found for {geog_name}")

    except Exception as e:
        print(f"Error fetching geocode for {geog_name}: {e}")
population

,GeogName,GeoID,Pop_1E,Latitude,Longitude,Area_km2
0,Greenpoint,BK0101,38260,40.73047,-73.951503,6.048081
1,Williamsburg,BK0102,64311,40.708116,-73.95707,8.413281
2,South Williamsburg,BK0103,46364,40.704392,-73.956555,4.764327
3,East Williamsburg,BK0104,52600,40.714195,-73.931646,4.243458
4,Brooklyn Heights,BK0201,25277,40.695929,-73.995552,2.228034
...,...,...,...,...,...,...
257,Freshkills Park (North),SI0291,0,40.584555,-74.190196,None
258,Freshkills Park (South),SI0391,23,40.564271,-74.186255,None
259,Hoffman & Swinburne Islands,SI9591,0,40.565872,-74.050024,0.023973
260,Miller Field,SI9592,101,40.567359,-74.099036,None
261,Great Kills Park,SI9593,0,40.549237,-74.123849,None

In [91]:
# Fill missing area values with the nearest available Pop_1E's Area_km2
for index, row in population.iterrows():
    if pd.isna(row['Area_km2']):
        # Find the closest Pop_1E with a valid area
        closest_area = population.loc[population['Area_km2'].notna(), ['Pop_1E', 'Area_km2']]
        closest_row = closest_area.iloc[(closest_area['Pop_1E'] - row['Pop_1E']).abs().argsort()[:1]]
        population.at[index, 'Area_km2'] = closest_row['Area_km2'].values[0]

# Recalculate population density
for index, row in population.iterrows():
    if row['Pop_1E'] == 0:
        population.at[index, 'Density'] = 0
    elif row['Area_km2'] is not None:
        population.at[index, 'Density'] = row['Pop_1E'] / row['Area_km2']
    else:
        population.at[index, 'Density'] = None
population

,GeogName,GeoID,Pop_1E,Latitude,Longitude,Area_km2,Density
0,Greenpoint,BK0101,38260,40.73047,-73.951503,6.048081,6325.973520
1,Williamsburg,BK0102,64311,40.708116,-73.95707,8.413281,7643.985810
2,South Williamsburg,BK0103,46364,40.704392,-73.956555,4.764327,9731.490426
3,East Williamsburg,BK0104,52600,40.714195,-73.931646,4.243458,12395.552252
4,Brooklyn Heights,BK0201,25277,40.695929,-73.995552,2.228034,11344.980301
...,...,...,...,...,...,...,...
257,Freshkills Park (North),SI0291,0,40.584555,-74.190196,0.023973,0.000000
258,Freshkills Park (South),SI0391,23,40.564271,-74.186255,0.164938,139.446541
259,Hoffman & Swinburne Islands,SI9591,0,40.565872,-74.050024,0.023973,0.000000
260,Miller Field,SI9592,101,40.567359,-74.099036,0.543047,185.987447
261,Great Kills Park,SI9593,0,40.549237,-74.123849,0.023973,0.000000

In [67]:
# save the dataframe to a new csv file
population.to_csv('population_data.csv', index=False)

In [35]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon

# 设置精度来创建网格区域（保留两位小数）
precision = 2
grid_size = 10 ** (-precision)  # 网格尺寸，用于计算范围

# 创建新的列来标识每个位置属于哪个网格
population['Lat_Grid'] = population['Latitude'].apply(lambda x: round(x, precision))
population['Lon_Grid'] = population['Longitude'].apply(lambda x: round(x, precision))

# 计算每个网格的范围
population['Lat_Min'] = population['Lat_Grid'] - grid_size / 2
population['Lat_Max'] = population['Lat_Grid'] + grid_size / 2
population['Lon_Min'] = population['Lon_Grid'] - grid_size / 2
population['Lon_Max'] = population['Lon_Grid'] + grid_size / 2

# 使用 shapely 创建多边形，表示每个网格区域
population['geometry'] = population.apply(lambda row: Polygon([
    (row['Lon_Min'], row['Lat_Min']),
    (row['Lon_Max'], row['Lat_Min']),
    (row['Lon_Max'], row['Lat_Max']),
    (row['Lon_Min'], row['Lat_Max']),
    (row['Lon_Min'], row['Lat_Min'])  # 闭合多边形
]), axis=1)

# 将 DataFrame 转换为 GeoDataFrame
gpopulation = gpd.GeoDataFrame(population, geometry='geometry')

# 设置 CRS（坐标参考系统），假设为 WGS 84
gpopulation.set_crs(epsg=4326, inplace=True)

,GeogName,GeoID,Pop_1E,Latitude,Longitude,Area_km2,Density,Lat_Grid,Lon_Grid,Lat_Min,Lat_Max,Lon_Min,Lon_Max,geometry
0,Greenpoint,BK0101,38260,40.730470,-73.951503,6.048081,6325.973520,40.73,-73.95,40.725,40.735,-73.955,-73.945,"POLYGON ((-73.95500 40.72500, -73.94500 40.725..."
1,Williamsburg,BK0102,64311,40.708116,-73.957070,8.413281,7643.985810,40.71,-73.96,40.705,40.715,-73.965,-73.955,"POLYGON ((-73.96500 40.70500, -73.95500 40.705..."
2,South Williamsburg,BK0103,46364,40.704392,-73.956555,4.764327,9731.490426,40.70,-73.96,40.695,40.705,-73.965,-73.955,"POLYGON ((-73.96500 40.69500, -73.95500 40.695..."
3,East Williamsburg,BK0104,52600,40.714195,-73.931646,4.243458,12395.552252,40.71,-73.93,40.705,40.715,-73.935,-73.925,"POLYGON ((-73.93500 40.70500, -73.92500 40.705..."
4,Brooklyn Heights,BK0201,25277,40.695929,-73.995552,2.228034,11344.980301,40.70,-74.00,40.695,40.705,-74.005,-73.995,"POLYGON ((-74.00500 40.69500, -73.99500 40.695..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Freshkills Park (North),SI0291,0,40.584555,-74.190196,0.023973,0.000000,40.58,-74.19,40.575,40.585,-74.195,-74.185,"POLYGON ((-74.19500 40.57500, -74.18500 40.575..."
258,Freshkills Park (South),SI0391,23,40.564271,-74.186255,0.164938,139.446541,40.56,-74.19,40.555,40.565,-74.195,-74.185,"POLYGON ((-74.19500 40.55500, -74.18500 40.555..."
259,Hoffman & Swinburne Islands,SI9591,0,40.565872,-74.050024,0.023973,0.000000,40.57,-74.05,40.565,40.575,-74.055,-74.045,"POLYGON ((-74.05500 40.56500, -74.04500 40.565..."
260,Miller Field,SI9592,101,40.567359,-74.099036,0.543047,185.987447,40.57,-74.10,40.565,40.575,-74.105,-74.095,"POLYGON ((-74.10500 40.56500, -74.09500 40.565..."
261,Great Kills Park,SI9593,0,40.549237,-74.123849,0.023973,0.000000,40.55,-74.12,40.545,40.555,-74.125,-74.115,"POLYGON ((-74.12500 40.54500, -74.11500 40.545..."

In [11]:
# read the "filtered_amenities_full.geojson"
import geopandas as gpd

amenities = gpd.read_file('filtered_amenities_full.geojson')
barriers = gpd.read_file('filtered_barrier.geojson')
highway = gpd.read_file('filtered_highway.geojson')
landuse = gpd.read_file('filtered_landuse.geojson')
leisure = gpd.read_file('filtered_leisure.geojson')
natural = gpd.read_file('filtered_natural.geojson')
building1 = gpd.read_file('filtered_building_part_1.geojson')
building2 = gpd.read_file('filtered_building_part_2.geojson')
building3 = gpd.read_file('filtered_building_part_3.geojson')

In [12]:

# 在一列里面显示amenities的amenity列，barriers的barrier列，highway的highway列，landuse的landuse列，leisure的leisure列，natural的natural列，building1的building列，building2的building列，building3的building列，叫做type，并把原来的列删掉
amenities['type'] = amenities['amenity']
amenities = amenities.drop(columns=['amenity'])

barriers['type'] = barriers['barrier']
barriers = barriers.drop(columns=['barrier'])

highway['type'] = highway['highway']
highway = highway.drop(columns=['highway'])

landuse['type'] = landuse['landuse']
landuse = landuse.drop(columns=['landuse'])

leisure['type'] = leisure['leisure']
leisure = leisure.drop(columns=['leisure'])

natural['type'] = natural['natural']
natural = natural.drop(columns=['natural'])

building1['type'] = building1['building']
building1 = building1.drop(columns=['building'])

building2['type'] = building2['building']
building2 = building2.drop(columns=['building'])

building3['type'] = building3['building']
building3 = building3.drop(columns=['building'])

In [13]:
    
    # 如果每个type列里面的数据是yes而不是具体的类型，那么就把type列的数据改成列名，比如说amenity，barrier，highway，landuse，leisure，natural，building
amenities.loc[amenities['type'] == 'yes', 'type'] = 'amenity'
barriers.loc[barriers['type'] == 'yes', 'type'] = 'barrier'
highway.loc[highway['type'] == 'yes', 'type'] = 'highway'   
landuse.loc[landuse['type'] == 'yes', 'type'] = 'landuse'
leisure.loc[leisure['type'] == 'yes', 'type'] = 'leisure'
natural.loc[natural['type'] == 'yes', 'type'] = 'natural'
building1.loc[building1['type'] == 'yes', 'type'] = 'building'
building2.loc[building2['type'] == 'yes', 'type'] = 'building'
building3.loc[building3['type'] == 'yes', 'type'] = 'building'

In [14]:
# merge all the dataframes vertically
import pandas as pd

all_data = pd.concat([amenities, barriers, highway, landuse, leisure, natural, building1, building2, building3], ignore_index=True)

all_data

,element_type,osmid,name,geometry,type
0,node,42538083,None,POINT (-73.97070 40.67335),bench
1,node,42723103,Hart Island Ferry Terminal,POINT (-73.77268 40.85218),ferry_terminal
2,node,42808233,None,POINT (-73.78430 40.68826),parking_entrance
3,node,42932643,None,POINT (-73.77275 40.71540),parking
4,node,46884313,None,POINT (-73.77934 40.64551),parking_entrance
...,...,...,...,...,...
2579128,relation,17992817,NaN,"POLYGON ((-74.15662 40.83351, -74.15740 40.833...",building
2579129,relation,17992874,NaN,"POLYGON ((-74.14487 40.83557, -74.14524 40.835...",building
2579130,relation,18024625,NaN,"POLYGON ((-74.06670 40.79109, -74.06670 40.791...",school
2579131,relation,18089201,NaN,"POLYGON ((-74.15162 40.73688, -74.15162 40.736...",apartments
2579132,relation,18100383,NaN,"POLYGON ((-74.25164 40.81242, -74.25166 40.812...",school

In [15]:
# save the dataframe to a new csv file
all_data.to_csv('all_data.csv', index=False)

In [10]:
# Selecting relevant columns
import pandas as pd
df = pd.read_csv('311_Noise_Complaints_cleaned2.csv')
df.columns = df.columns.str.lower().str.replace(' ', '_')
columns_to_keep = ['location', 'complaint_type','descriptor']
df_filtered = df[columns_to_keep]

# Drop rows with missing 'specified columns'
df_filtered.dropna(subset=['location', 'complaint_type','descriptor'], inplace=True)

# df_filtered.head()

# Unieke waarden in de kolom 'complaint_type'
complaint_type_unique = df_filtered['complaint_type'].unique()

# Unieke waarden in de kolom 'descriptor'
descriptor_unique = df_filtered['descriptor'].unique()

C:\Users\20123\AppData\Local\Temp\ipykernel_37932\1491442280.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.dropna(subset=['location', 'complaint_type','descriptor'], inplace=True)

In [11]:
# Aantal voorkomen per unieke waarde in 'complaint_type', gesorteerd
complaint_type_counts = df_filtered['complaint_type'].value_counts().sort_index()

# Aantal voorkomen per unieke waarde in 'descriptor', gesorteerd
descriptor_counts = df_filtered['descriptor'].value_counts().sort_index()

#print("Amount per 'complaint_type':\n", complaint_type_counts)
print("\nAmount per 'descriptor':\n", descriptor_counts)

Amount per 'descriptor':
 descriptor
21 Collection Truck Noise                                                      418
Banging/Pounding                                                            460082
Car/Truck Horn                                                               61651
Car/Truck Music                                                             216147
Engine Idling                                                                52865
Loud Music/Party                                                           2033620
Loud Talking                                                                260917
Loud Television                                                              24603
NYPD                                                                          2294
News Gathering                                                                1980
No Access                                                                        1
Noise                                                                          120
Noise, Barking Dog (NR5)                                                     31423
Noise, Ice Cream Truck (NR4)                                                  7420
Noise, Other Animals (NR6)                                                    1252
Noise:  lawn care equipment (NCL)                                             4449
Noise: Alarms (NR3)                                                          22327
Noise: Boat(Engine                                                              12
Noise: Boat(Engine,Music,Etc) (NR10)                                          1467
Noise: Construction Before/After Hours (NM1)                                 87240
Noise: Construction Equipment (NC1)                                          34860
Noise: Jack Hammering (NC2)                                                  11461
Noise: Loud Music From Siebel System - For Dep Internal Use Only (NP21)          2
Noise: Loud Music/Daytime (Mark Date And Time) (NN1)                             4
Noise: Manufacturing Noise (NK1)                                               727
Noise: Other Noise Sources (Use Comments) (NZZ)                                 85
Noise: Private Carting Noise (NQ1)                                            4128
Noise: Vehicle (NR2)                                                             6
Noise: air condition/ventilation equipment (NV1)                             19335
Other                                                                       137394
Name: count, dtype: int64

In [12]:
# Voeg de kolommen 'complaint_type' en 'descriptor' samen in een nieuwe kolom met de gewenste naam
df_filtered['combined complaint type descriptor'] = df_filtered['complaint_type'] + ' - ' + df_filtered['descriptor']

C:\Users\20123\AppData\Local\Temp\ipykernel_37932\1325745159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['combined complaint type descriptor'] = df_filtered['complaint_type'] + ' - ' + df_filtered['descriptor']

In [13]:
# Tel het aantal voorkomen per unieke waarde in de nieuwe kolom
combined_counts = df_filtered['combined complaint type descriptor'].value_counts()
combined_counts

combined complaint type descriptor
Noise - Residential - Loud Music/Party                                             1105628
Noise - Street/Sidewalk - Loud Music/Party                                          675825
Noise - Residential - Banging/Pounding                                              434577
Noise - Commercial - Loud Music/Party                                               211979
Noise - Vehicle - Car/Truck Music                                                   205433
Noise - Helicopter - Other                                                          137394
Noise - Street/Sidewalk - Loud Talking                                              130049
Noise - Residential - Loud Talking                                                  103668
Noise - Noise: Construction Before/After Hours (NM1)                                 87240
Noise - Vehicle - Car/Truck Horn                                                     57308
Noise - Vehicle - Engine Idling                                                      52865
Noise - Park - Loud Music/Party                                                      35097
Noise - Noise: Construction Equipment (NC1)                                          34860
Noise - Noise, Barking Dog (NR5)                                                     31423
Noise - Commercial - Banging/Pounding                                                25151
Noise - Residential - Loud Television                                                24131
Noise - Noise: Alarms (NR3)                                                          22327
Noise - Commercial - Loud Talking                                                    21866
Noise - Noise: air condition/ventilation equipment (NV1)                             19335
Noise - Noise: Jack Hammering (NC2)                                                  11461
Noise - Commercial - Car/Truck Music                                                 10708
Noise - Noise, Ice Cream Truck (NR4)                                                  7420
Noise - House of Worship - Loud Music/Party                                           5087
Noise - Park - Loud Talking                                                           4514
Noise - Noise:  lawn care equipment (NCL)                                             4449
Noise - Commercial - Car/Truck Horn                                                   4343
Noise - Noise: Private Carting Noise (NQ1)                                            4128
Noise - Helicopter - NYPD                                                             2294
Noise - Helicopter - News Gathering                                                   1980
Noise - Noise: Boat(Engine,Music,Etc) (NR10)                                          1467
Noise - Noise, Other Animals (NR6)                                                    1252
Noise - House of Worship - Loud Talking                                                820
Noise - Noise: Manufacturing Noise (NK1)                                               727
Noise - Commercial - Loud Television                                                   468
Collection Truck Noise - 21 Collection Truck Noise                                     418
Noise - House of Worship - Banging/Pounding                                            353
Noise - Noise                                                                          120
Noise - Noise: Other Noise Sources (Use Comments) (NZZ)                                 85
Noise - Noise: Boat(Engine                                                              12
Noise - Noise: Vehicle (NR2)                                                             6
Noise - Street/Sidewalk - Car/Truck Music                                                6
Noise - House of Worship - Loud Television                                               4
Noise - Noise: Loud Music/Daytime (Mark Date And Time) (NN1)                             4
Noise - Vehicle - Loud Music/Party                                                       4
Noise - Noise: Loud Music From Siebel System - For Dep Internal Use Only (NP21)          2
Noise - Street/Sidewalk - No Access                                                      1
Noise - Vehicle - Banging/Pounding                                                       1
Name: count, dtype: int64

In [19]:
# Bereken het aantal voorkomen per unieke waarde in de kolom
combined_counts = df_filtered['combined complaint type descriptor'].value_counts()

# Maak een lijst van de waarden die vaker voorkomen dan (of gelijk aan) 200 keer
values_to_keep = combined_counts[combined_counts >= 200].index

# Maak een nieuwe DataFrame met alleen de rijen die voldoen aan de count-voorwaarde
df_filtered_2 = df_filtered[df_filtered['combined complaint type descriptor'].isin(values_to_keep)]

# Controleer de eerste paar rijen van de nieuwe DataFrame
#print(df_filtered_2.head())

In [26]:

# Ensure proper handling and avoid SettingWithCopyWarning
df_filtered_2.loc[:, 'latitude'] = df_filtered_2['location'].apply(lambda x: x[0] if isinstance(x, tuple) else eval(x)[0])
df_filtered_2.loc[:, 'longitude'] = df_filtered_2['location'].apply(lambda x: x[1] if isinstance(x, tuple) else eval(x)[1])

C:\Users\20123\AppData\Local\Temp\ipykernel_37932\1909129666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2.loc[:, 'latitude'] = df_filtered_2['location'].apply(lambda x: x[0] if isinstance(x, tuple) else eval(x)[0])
C:\Users\20123\AppData\Local\Temp\ipykernel_37932\1909129666.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2.loc[:, 'longitude'] = df_filtered_2['location'].apply(lambda x: x[1] if isinstance(x, tuple) else eval(x)[1])

In [27]:
df_filtered_2

,location,complaint_type,descriptor,combined complaint type descriptor,latitude,longitude
0,"(40.74217591632833, -73.8041140918047)",Noise - Park,Loud Music/Party,Noise - Park - Loud Music/Party,40.742176,-73.804114
1,"(40.66677169641655, -73.89130158867503)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.666772,-73.891302
2,"(40.709122186956755, -73.94854691873594)",Noise - Street/Sidewalk,Loud Talking,Noise - Street/Sidewalk - Loud Talking,40.709122,-73.948547
3,"(40.842728168449554, -73.84687754834488)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.842728,-73.846878
4,"(40.70651829396309, -73.90983347440181)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.706518,-73.909833
...,...,...,...,...,...,...
3494240,"(40.78298744269326, -73.83951859649474)",Noise - Helicopter,Other,Noise - Helicopter - Other,40.782987,-73.839519
3494241,"(40.665366198058365, -73.8827429957771)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.665366,-73.882743
3494242,"(40.6842405931966, -73.91554963088375)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.684241,-73.915550
3494243,"(40.61276984380916, -74.00561150999837)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.612770,-74.005612
3494244,"(40.696957867940526, -73.99698153740205)",Noise - Helicopter,Other,Noise - Helicopter - Other,40.696958,-73.996982

In [28]:
# read the all_data.csv
import pandas as pd
all_data = pd.read_csv('all_data.csv')
all_data

C:\Users\20123\AppData\Local\Temp\ipykernel_37932\3441068194.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data = pd.read_csv('all_data.csv')

,element_type,osmid,name,geometry,type
0,node,42538083,NaN,POINT (-73.9707015 40.6733518),bench
1,node,42723103,Hart Island Ferry Terminal,POINT (-73.7726765 40.8521816),ferry_terminal
2,node,42808233,NaN,POINT (-73.7842953 40.6882581),parking_entrance
3,node,42932643,NaN,POINT (-73.7727456 40.7154031),parking
4,node,46884313,NaN,POINT (-73.7793428 40.6455149),parking_entrance
...,...,...,...,...,...
2579128,relation,17992817,NaN,"POLYGON ((-74.1566219 40.8335072, -74.1574011 ...",building
2579129,relation,17992874,NaN,"POLYGON ((-74.1448735 40.8355725, -74.1452398 ...",building
2579130,relation,18024625,NaN,"POLYGON ((-74.0667017 40.791092, -74.0667022 4...",school
2579131,relation,18089201,NaN,"POLYGON ((-74.1516162 40.7368786, -74.1516162 ...",apartments
2579132,relation,18100383,NaN,"POLYGON ((-74.2516429 40.8124218, -74.2516557 ...",school

In [36]:
# unique values in the 'type' column
type_unique = all_data['type'].unique()

# read the population_data.csv
# gpopulation = pd.read_csv('population_data.csv')
gpopulation

,GeogName,GeoID,Pop_1E,Latitude,Longitude,Area_km2,Density,Lat_Grid,Lon_Grid,Lat_Min,Lat_Max,Lon_Min,Lon_Max,geometry
0,Greenpoint,BK0101,38260,40.730470,-73.951503,6.048081,6325.973520,40.73,-73.95,40.725,40.735,-73.955,-73.945,"POLYGON ((-73.95500 40.72500, -73.94500 40.725..."
1,Williamsburg,BK0102,64311,40.708116,-73.957070,8.413281,7643.985810,40.71,-73.96,40.705,40.715,-73.965,-73.955,"POLYGON ((-73.96500 40.70500, -73.95500 40.705..."
2,South Williamsburg,BK0103,46364,40.704392,-73.956555,4.764327,9731.490426,40.70,-73.96,40.695,40.705,-73.965,-73.955,"POLYGON ((-73.96500 40.69500, -73.95500 40.695..."
3,East Williamsburg,BK0104,52600,40.714195,-73.931646,4.243458,12395.552252,40.71,-73.93,40.705,40.715,-73.935,-73.925,"POLYGON ((-73.93500 40.70500, -73.92500 40.705..."
4,Brooklyn Heights,BK0201,25277,40.695929,-73.995552,2.228034,11344.980301,40.70,-74.00,40.695,40.705,-74.005,-73.995,"POLYGON ((-74.00500 40.69500, -73.99500 40.695..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Freshkills Park (North),SI0291,0,40.584555,-74.190196,0.023973,0.000000,40.58,-74.19,40.575,40.585,-74.195,-74.185,"POLYGON ((-74.19500 40.57500, -74.18500 40.575..."
258,Freshkills Park (South),SI0391,23,40.564271,-74.186255,0.164938,139.446541,40.56,-74.19,40.555,40.565,-74.195,-74.185,"POLYGON ((-74.19500 40.55500, -74.18500 40.555..."
259,Hoffman & Swinburne Islands,SI9591,0,40.565872,-74.050024,0.023973,0.000000,40.57,-74.05,40.565,40.575,-74.055,-74.045,"POLYGON ((-74.05500 40.56500, -74.04500 40.565..."
260,Miller Field,SI9592,101,40.567359,-74.099036,0.543047,185.987447,40.57,-74.10,40.565,40.575,-74.105,-74.095,"POLYGON ((-74.10500 40.56500, -74.09500 40.565..."
261,Great Kills Park,SI9593,0,40.549237,-74.123849,0.023973,0.000000,40.55,-74.12,40.545,40.555,-74.125,-74.115,"POLYGON ((-74.12500 40.54500, -74.11500 40.545..."

In [39]:
# add the population density to the hex_complaint_counts 
# Merge the population DataFrame with the hex_complaint_counts DataFrame based on the location of the population data
# for exapmle, if the loacation of the population data is in the same hexagon as the complaint data, then merge the two dataframes, and if in the
# population data there are multiple locations in the same hexagon, then add the density mean of the place to calculate the total population in that hexagon

from geopy.distance import geodesic
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

# 创建 hex_complaint_counts 的 GeoDataFrame
geometry = [Point(xy) for xy in zip(df_filtered_2['longitude'], df_filtered_2['latitude'])]
hex_gdf = gpd.GeoDataFrame(df_filtered_2, geometry=geometry, crs="EPSG:4326")

# 确保 gpopulation 的 CRS 和 hex_gdf 的 CRS 一致
gpopulation = gpopulation.to_crs(hex_gdf.crs)

# 执行空间连接，找到每个点所在的多边形
joined = gpd.sjoin(hex_gdf, gpopulation, how="left", op='within')

# 对于重叠的情况，计算每个 hex_id 的平均人口密度
hex_density_avg = joined.groupby('location')['Density'].mean().reset_index()

# 将平均密度加入到原始的 df_filtered_2 数据集中
df_filtered_2 = df_filtered_2.merge(hex_density_avg, on='location', how='left')

df_filtered_2['Density'] = df_filtered_2['Density'].fillna(0)

# 查看结果
print(df_filtered_2.head())

d:\Anaconda\envs\osm\Lib\site-packages\IPython\core\interactiveshell.py:3517: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

                                   location           complaint_type  \
0    (40.74217591632833, -73.8041140918047)             Noise - Park
1   (40.66677169641655, -73.89130158867503)      Noise - Residential
2  (40.709122186956755, -73.94854691873594)  Noise - Street/Sidewalk
3  (40.842728168449554, -73.84687754834488)      Noise - Residential
4   (40.70651829396309, -73.90983347440181)      Noise - Residential

         descriptor      combined complaint type descriptor   latitude  \
0  Loud Music/Party         Noise - Park - Loud Music/Party  40.742176
1  Loud Music/Party  Noise - Residential - Loud Music/Party  40.666772
2      Loud Talking  Noise - Street/Sidewalk - Loud Talking  40.709122
3  Loud Music/Party  Noise - Residential - Loud Music/Party  40.842728
4  Loud Music/Party  Noise - Residential - Loud Music/Party  40.706518

   longitude      Density
0 -73.804114     0.000000
1 -73.891302     0.000000
2 -73.948547     0.000000
3 -73.846878  7548.748498
4 -73.909833     0.000000

In [40]:
df_filtered_2

,location,complaint_type,descriptor,combined complaint type descriptor,latitude,longitude,Density
0,"(40.74217591632833, -73.8041140918047)",Noise - Park,Loud Music/Party,Noise - Park - Loud Music/Party,40.742176,-73.804114,0.000000
1,"(40.66677169641655, -73.89130158867503)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.666772,-73.891302,0.000000
2,"(40.709122186956755, -73.94854691873594)",Noise - Street/Sidewalk,Loud Talking,Noise - Street/Sidewalk - Loud Talking,40.709122,-73.948547,0.000000
3,"(40.842728168449554, -73.84687754834488)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.842728,-73.846878,7548.748498
4,"(40.70651829396309, -73.90983347440181)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.706518,-73.909833,0.000000
...,...,...,...,...,...,...,...
3478040,"(40.78298744269326, -73.83951859649474)",Noise - Helicopter,Other,Noise - Helicopter - Other,40.782987,-73.839519,0.000000
3478041,"(40.665366198058365, -73.8827429957771)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.665366,-73.882743,0.000000
3478042,"(40.6842405931966, -73.91554963088375)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.684241,-73.915550,0.000000
3478043,"(40.61276984380916, -74.00561150999837)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.612770,-74.005612,0.000000
3478044,"(40.696957867940526, -73.99698153740205)",Noise - Helicopter,Other,Noise - Helicopter - Other,40.696958,-73.996982,11344.980301

In [41]:
# choose the 'combined complaint type descriptor', 'location', 'density' columns merge with the all_data, the column 'geometry' in the all_data is the same as the 'location' in the df_filtered_2,  and the column 'type' in the all_data is the same as the 'combine complaint type descriptor' in the df_filtered_2
# concat them vertically, leave the 'density' column as none

# Select relevant columns from df_filtered_2
df_filtered_2_selected = df_filtered_2[['combined complaint type descriptor', 'location', 'Density']]
df_filtered_2_selected.columns = ['type', 'geometry', 'density']

# Select relevant columns from all_data and add a 'density' column with None values
all_data_selected = all_data[['type', 'geometry']]
all_data_selected['density'] = None

# Concatenate the two DataFrames vertically
merged_data = pd.concat([df_filtered_2_selected, all_data_selected], ignore_index=True)

merged_data

C:\Users\20123\AppData\Local\Temp\ipykernel_37932\1701880757.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data_selected['density'] = None
C:\Users\20123\AppData\Local\Temp\ipykernel_37932\1701880757.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_data = pd.concat([df_filtered_2_selected, all_data_selected], ignore_index=True)

,type,geometry,density
0,Noise - Park - Loud Music/Party,"(40.74217591632833, -73.8041140918047)",0.000000
1,Noise - Residential - Loud Music/Party,"(40.66677169641655, -73.89130158867503)",0.000000
2,Noise - Street/Sidewalk - Loud Talking,"(40.709122186956755, -73.94854691873594)",0.000000
3,Noise - Residential - Loud Music/Party,"(40.842728168449554, -73.84687754834488)",7548.748498
4,Noise - Residential - Loud Music/Party,"(40.70651829396309, -73.90983347440181)",0.000000
...,...,...,...
6057173,building,"POLYGON ((-74.1566219 40.8335072, -74.1574011 ...",NaN
6057174,building,"POLYGON ((-74.1448735 40.8355725, -74.1452398 ...",NaN
6057175,school,"POLYGON ((-74.0667017 40.791092, -74.0667022 4...",NaN
6057176,apartments,"POLYGON ((-74.1516162 40.7368786, -74.1516162 ...",NaN
6057177,school,"POLYGON ((-74.2516429 40.8124218, -74.2516557 ...",NaN

In [44]:
# save the dataframe to a new csv file
merged_data.to_csv('merged_data.csv', index=False)

In [43]:
df_filtered_2 = merged_data.copy(deep=True)
df_filtered_2.loc[:, 'latitude'] = df_filtered_2['geometry'].apply(lambda x: x[0] if isinstance(x, tuple) else eval(x)[0])
df_filtered_2.loc[:, 'longitude'] = df_filtered_2['geometry'].apply(lambda x: x[1] if isinstance(x, tuple) else eval(x)[1])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<string>, line 1)

In [16]:
import h3
# Define the resolution of the hexagons (higher number = smaller hexagons)
hex_resolution = 8  # Adjust this number based on how small you want your hexagons

# Create a new column 'hex_id' with the hexagon ID for each (latitude, longitude) pair
df_filtered_2['hex_id'] = df_filtered_2.apply(lambda row: h3.latlng_to_cell(row['latitude'], row['longitude'], hex_resolution), axis=1)

# Check the first few rows to see the new hex_id column
print(df_filtered_2[['hex_id', 'combined complaint type descriptor']].head())

            hex_id      combined complaint type descriptor
0  882a100e13fffff         Noise - Park - Loud Music/Party
1  882a100ca3fffff  Noise - Residential - Loud Music/Party
2  882a100de9fffff  Noise - Street/Sidewalk - Loud Talking
3  882a1001e9fffff  Noise - Residential - Loud Music/Party
4  882a100c35fffff  Noise - Residential - Loud Music/Party

C:\Users\20123\AppData\Local\Temp\ipykernel_37932\1696863180.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_2['hex_id'] = df_filtered_2.apply(lambda row: h3.latlng_to_cell(row['latitude'], row['longitude'], hex_resolution), axis=1)

In [17]:
# STEP 3  Aggregate Complaints by Hexagon

# Group by hexagon ID and 'combined complaint type descriptor' and count complaints in each hexagon
hex_complaint_counts = df_filtered_2.groupby(['hex_id', 'combined complaint type descriptor']).size().reset_index(name='complaint_count')

# Check the result
print(hex_complaint_counts.head())

            hex_id                 combined complaint type descriptor  \
0  882a100003fffff              Noise - Commercial - Banging/Pounding
1  882a100003fffff              Noise - Commercial - Loud Music/Party
2  882a100003fffff                   Noise - Noise, Barking Dog (NR5)
3  882a100003fffff       Noise - Noise: Boat(Engine,Music,Etc) (NR10)
4  882a100003fffff  Noise - Noise: Construction Before/After Hours...

   complaint_count
0                2
1                1
2                1
3               38
4                3

In [18]:
df_filtered_2

,location,complaint_type,descriptor,combined complaint type descriptor,latitude,longitude,hex_id
0,"(40.74217591632833, -73.8041140918047)",Noise - Park,Loud Music/Party,Noise - Park - Loud Music/Party,40.742176,-73.804114,882a100e13fffff
1,"(40.66677169641655, -73.89130158867503)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.666772,-73.891302,882a100ca3fffff
2,"(40.709122186956755, -73.94854691873594)",Noise - Street/Sidewalk,Loud Talking,Noise - Street/Sidewalk - Loud Talking,40.709122,-73.948547,882a100de9fffff
3,"(40.842728168449554, -73.84687754834488)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.842728,-73.846878,882a1001e9fffff
4,"(40.70651829396309, -73.90983347440181)",Noise - Residential,Loud Music/Party,Noise - Residential - Loud Music/Party,40.706518,-73.909833,882a100c35fffff
...,...,...,...,...,...,...,...
3494240,"(40.78298744269326, -73.83951859649474)",Noise - Helicopter,Other,Noise - Helicopter - Other,40.782987,-73.839519,882a100e61fffff
3494241,"(40.665366198058365, -73.8827429957771)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.665366,-73.882743,882a100cabfffff
3494242,"(40.6842405931966, -73.91554963088375)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.684241,-73.915550,882a100dd7fffff
3494243,"(40.61276984380916, -74.00561150999837)",Noise,"Noise, Barking Dog (NR5)","Noise - Noise, Barking Dog (NR5)",40.612770,-74.005612,882a107465fffff
3494244,"(40.696957867940526, -73.99698153740205)",Noise - Helicopter,Other,Noise - Helicopter - Other,40.696958,-73.996982,882a1072d7fffff

In [80]:
hex_complaint_counts

,hex_id,combined complaint type descriptor,complaint_count
0,882a100003fffff,Noise - Commercial - Banging/Pounding,2
1,882a100003fffff,Noise - Commercial - Loud Music/Party,1
2,882a100003fffff,"Noise - Noise, Barking Dog (NR5)",1
3,882a100003fffff,"Noise - Noise: Boat(Engine,Music,Etc) (NR10)",38
4,882a100003fffff,Noise - Noise: Construction Before/After Hours...,3
...,...,...,...
23952,882a10776dfffff,Noise - Street/Sidewalk - Loud Music/Party,53
23953,882a10776dfffff,Noise - Street/Sidewalk - Loud Talking,15
23954,882a10776dfffff,Noise - Vehicle - Car/Truck Horn,3
23955,882a10776dfffff,Noise - Vehicle - Car/Truck Music,16
23956,882a10776dfffff,Noise - Vehicle - Engine Idling,32

In [81]:
# check the largest complaint count
hex_complaint_counts['complaint_count'].mean()

145.1786534207121

In [103]:
df_filtered_2['Density'] = df_filtered_2['Density'].fillna(0)

df_filtered_2
# save the dataframe to a new csv file
df_filtered_2.to_csv('complaint_data.csv', index=False)

,GeogName,GeoID,Pop_1E,Latitude,Longitude,Area_km2,Density,Lat_Grid,Lon_Grid,Grid_ID,Lat_Min,Lat_Max,Lon_Min,Lon_Max,geometry
0,Greenpoint,BK0101,38260,40.73047,-73.951503,6.048081,6325.973520,40.73,-73.95,40.73_-73.95,40.725,40.735,-73.955,-73.945,"POLYGON ((-73.95500 40.72500, -73.94500 40.725..."
1,Williamsburg,BK0102,64311,40.708116,-73.95707,8.413281,7643.985810,40.71,-73.96,40.71_-73.96,40.705,40.715,-73.965,-73.955,"POLYGON ((-73.96500 40.70500, -73.95500 40.705..."
2,South Williamsburg,BK0103,46364,40.704392,-73.956555,4.764327,9731.490426,40.70,-73.96,40.7_-73.96,40.695,40.705,-73.965,-73.955,"POLYGON ((-73.96500 40.69500, -73.95500 40.695..."
3,East Williamsburg,BK0104,52600,40.714195,-73.931646,4.243458,12395.552252,40.71,-73.93,40.71_-73.93,40.705,40.715,-73.935,-73.925,"POLYGON ((-73.93500 40.70500, -73.92500 40.705..."
4,Brooklyn Heights,BK0201,25277,40.695929,-73.995552,2.228034,11344.980301,40.70,-74.00,40.7_-74.0,40.695,40.705,-74.005,-73.995,"POLYGON ((-74.00500 40.69500, -73.99500 40.695..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,Freshkills Park (North),SI0291,0,40.584555,-74.190196,0.023973,0.000000,40.58,-74.19,40.58_-74.19,40.575,40.585,-74.195,-74.185,"POLYGON ((-74.19500 40.57500, -74.18500 40.575..."
258,Freshkills Park (South),SI0391,23,40.564271,-74.186255,0.164938,139.446541,40.56,-74.19,40.56_-74.19,40.555,40.565,-74.195,-74.185,"POLYGON ((-74.19500 40.55500, -74.18500 40.555..."
259,Hoffman & Swinburne Islands,SI9591,0,40.565872,-74.050024,0.023973,0.000000,40.57,-74.05,40.57_-74.05,40.565,40.575,-74.055,-74.045,"POLYGON ((-74.05500 40.56500, -74.04500 40.565..."
260,Miller Field,SI9592,101,40.567359,-74.099036,0.543047,185.987447,40.57,-74.10,40.57_-74.1,40.565,40.575,-74.105,-74.095,"POLYGON ((-74.10500 40.56500, -74.09500 40.565..."
261,Great Kills Park,SI9593,0,40.549237,-74.123849,0.023973,0.000000,40.55,-74.12,40.55_-74.12,40.545,40.555,-74.125,-74.115,"POLYGON ((-74.12500 40.54500, -74.11500 40.545..."